Oleh Krupko
oleh.krupko@gmail.com
+380507482655

Personal information: 
First name: Oleh
Last name: Krupko
Date of birth: 22 / October / 1995г (20 years).
Location: Kharkiv, Ukraine. Phone number: +380507482655 Email: oleh.krupko@gmail.com
Email (university): oleh.krupko@nure.ua
GitHub: github.com/tacit007
Interests: science, reading, modern technologies.
Education: 
2010 — 2016 (finished, passed CAE exam with level C1) at International House Kharkiv Language School (English language).

2013 — (in progress, 3rd year finished) at Kharkiv National University of Radio Electronics, faculty of Computer Sciences, Department of Software Engineering.

Professional skills: 
Linux, Windows and OS X usage and configuration;
Web development: LAMP (Linux, Apache, MySQL, PHP), HTML, CSS, JavaScript (AJAX, jQuery);
Base knowledge of Java and C#;
Preferred tools: Adobe Brackets or Atom for simple code editing, GitHub for Mac as git client and IntelliJ IDEA for Java.
Working experience: 
Finished a semi-annual internship (January 2015 — August 2016): PHP and JavaScript (jQuery) web development. Linux sever configuration.

Languages:
English: C1 (passed Cambridge Advanced English exam);
French: base with good reading;
Russian: native;
Ukrainian: native.
















