/* ul#feedUpdate */
#feedUpdate {
    padding: 0;
}
#feedUpdate li {
    list-style-type: none;
    text-decoration: none;
    font-size: 22px;
    word-break: normal;
    overflow-wrap: break-word;
}
#feedUpdate a {
    text-decoration: none;
}

/* ul#feedUpdate li:before */
#feedUpdate li:before {
    content: "»";
    color: red;
    font-weight: bold;
    /* padding-right: 5px; */
}
#feedUpdate li.index-true:before {
    content: "💎";
}
#feedUpdate li.index-false:before {
    content: "🗃️";
}

/* ul#feedUpdate li a */
#feedUpdate a {
    color: white;
}
#feedUpdate .emojis a,
#feedUpdate .name {
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
}
#feedUpdate .name:link:hover {
    color: greenyellow;
}
#feedUpdate :visited,
#feedUpdate .datetime {
    color: #333;
}
#feedUpdate .datetime {
    cursor: default;
}