{% load static %}

<style>
    {% include "ul-red.css" %}
    a, li, main, a:any-link {color: black}
</style>

<ul class="red">
    <h1>{{ fromView.page_title }}</h1>

{% for chapter in fromView.feedUpdate_list %}
    <li><a class="name" target="_blank" href="{{ chapter.href }}"
            >{% if fromView.multibook %}<strong>{{ chapter.title }}</strong>: {% endif %}{{ chapter.name }}</a> on {{chapter.datetime|date:'Y-m-d H:i' }}
    </li>
{% empty %}
    <li>Oops, something went wrong. Empty!</li>
{% endfor %}
</ul>