{% extends 'Homepage/base.html' %}

{% block title %} » feedUpdate » feeds{% endblock %}

{% block main %}
    <h1>{{ fromView.title }}</h1>

    <ul id="feedUpdate" class="li-before-none">
    {% for feed in fromView.feeds %}
        {% if not '🏮' in feed.emojis %}
        <li class="index-{% if '💎' in feed.emojis %}true{% else %}false{% endif %}">
            <a class="name" target="_blank" href="{% url "feedUpdate:feed" feeds=feed.title mode='index' %}">
                <span class="title">{{ feed.title }}</span>{% if feed.title_full %}: {{ feed.title_full }}{% endif %}
            </a>
            <span class="emojis"><nobr>
                <a target="_blank" href="{% url "feedUpdate:feed" feeds=feed.title mode='force' %}">☠️️</a>
                <a target="_blank" href="{% if feed.href_title %}{{ feed.href_title }}{% else %}{{ feed.href }}{% endif %}">⚓️️</a>
            </nobr></span>
        </li>
        {% endif %}
    </div>
    {% empty %}
        <li>Oops, something went wrong. Empty!</li>
    {% endfor %}
    </ul>
{% endblock %}
