{% extends 'Homepage/base.html' %}

{% block title %} » feedUpdate » feeds{% endblock %}

{% block content %}
    <div id="chapters">
        <h1>{{ fromView.title }}</h1>

        {% for feed in fromView.feeds %}
            {% if not '🏮' in feed.emojis %}
            <div class="chapter">
                {% if '💎' in feed.emojis %}
                    <b class="pointer">[&nbsp;&nbsp;&nbsp;] </b>
                {% else %}
                    <b class="pointer">[X] </b>
                {% endif %}
                <a target="_blank" href="{% url "feedUpdate:feed" feeds=feed.title mode='/index' %}">
                        <b>{{ feed.title }}</b>{% if feed.title_full %}: {{ feed.title_full }}{% endif %}
                </a>
                <a target="_blank" href="{% url "feedUpdate:feed" feeds=feed.title mode='/force' %}">☠️️</a>
                <a target="_blank" href="{% if feed.href_title %}{{ feed.href_title }}{% else %}{{ feed.href }}{% endif %}">⚓️️</a>
            </div>
            {% endif %}
        {% empty %}
            <h2>There are no entries yet</h2>
        {% endfor %}
    </div>
{% endblock %}