{% extends 'Homepage/base.html' %}

{% block title %} » feedUpdate » {{ fromView.title }}{% endblock %}

{% block meta %}<meta http-equiv="refresh" content="600" >{% endblock %}

{% block main %}
    <h1>{{ fromView.title }}</h1>

    <ul id="feedUpdate">
    {% for chapter in fromView.items %}
        <li><span>
            <a class="name" target="_blank" href="{{ chapter.href }}">
                {% if fromView.multibook %}<span class="title">{{ chapter.title }}</span>: {% endif %}
                {{ chapter.name }}
            </a>
            <span class="datetime">on {{chapter.datetime|date:'Y-m-d H:i' }}</span>
        </span></li>
    {% empty %}
        <li>Oops, something went wrong. Empty!</li>
    {% endfor %}
    </ul>
{% endblock %}