{% extends 'Homepage/base.html' %}

{% load static %}

{% block title %} » feedUpdate » feeds{% endblock %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'style-js/ul-red.css' %}">
{% endblock %}

{% block main %}
    <ul id="feedUpdate">
        <ul class="red">
            <h1>Корректность:</h1>
            <p>Checking feed.title for regexp errors</p>
            {% for each in fromView.errors.regexp %}
                <li>{{ each }}</li>
            {% empty %}
                ✔️
            {% endfor %}

        <ul class="red">
            <h1>Дубликаты:</h1>
            <p>Checking for feed.title duplicates</p>
            {% for each in fromView.errors.duplicates %}
                <li>{{ each }}</li>
            {% empty %}
                ✔️
            {% endfor %}
        </ul>
    </ul>
{% endblock %}
