{% extends 'Homepage/base.html' %}

{% load static %}

{% block title %} » feedUpdate » {{ fromView.page.title }}{% endblock %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'style-js/weatherCast.css' %}">
    <script src="{% static 'style-js/libraries/chart.js' %}"></script>
{% endblock %}

{% block main %}
    <div id="weatherCast">
        <h1>{{ fromView.page.title }}</h1>

        <h2>Сейчас:</h2>
            <p>{{ fromView.summary.now|lower }}</p>
        <h2>Сутки:</h2>
            <p>{{ fromView.summary.day }}</p>
        <h2>Неделя:</h2>
            <p>{{ fromView.summary.week }}</p>

            <canvas id="myChart"></canvas>
            <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: ['+00', '+01', '+02', '+03', '+04', '+05', '+06', '+07', '+08', '+09', '+10', '+11', '+12', '+13', '14', '15', '16', '17', '18', '19', '+20', '+21', '+22', '+23', '+24'],
                        datasets: [
                            {
                                label: '°C',
                                backgroundColor: 'rgb(255, 0, 0, 0.25)',
                                borderColor: 'rgb(256, 256, 256)',
                                data: {{ fromView.json_hourly_feels }},
                                yAxisID: 'y-axis-1',
                            },
                            {
                                label: '%☁️',
                                borderColor: 'rgb(256, 256, 256)',
                                data: {{ fromView.json_cloudCover_hourly }},
                                yAxisID: 'y-axis-2',
                                borderDash: [5, 5],
                            },
                        ]
                    },

                    // Configuration options go here
                    options: {
                        scales: {
                            xAxes: [{
                                gridLines: {
                                    color: 'rgba(33, 33, 33, 1)',
                                    lineWidth: 1.5,
                                }
                            }],
                            yAxes: [{
                                type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                display: true,
                                position: 'left',
                                id: 'y-axis-1',
                            }, {
                                type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                display: true,
                                position: 'right',
                                id: 'y-axis-2',

                                gridLines: {
                                    color: 'rgba(33, 33, 33, 1)',
                                    lineWidth: 1.5,
                                },
                                ticks: {
                                    min: 0
                                }
                            }],
                        }
                    }
                });
            </script>
    </div>

    <a href="https://darksky.net/dev/account">Darksky Dev Console</a>
    <a href="https://darksky.net/dev/docs">Darksky Docs</a>
{% endblock %}