{% load static %}{% load staticfiles %}<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Home{% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="alternate" type="application/rss+xml" title="RSS for feedUpdate" href="/feedUpdate/rss" />

        <link rel="stylesheet" href="{% static 'style-js/style.css' %}">
        <link rel="stylesheet" href="{% static 'style-js/nav.css' %}">

        {% block meta %}{%  endblock %}
    </head>
    <body>
        <header>
            {% include "Homepage/nav.html" %}
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>