{% load static %}{% load staticfiles %}<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Home{% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="alternate" type="application/rss+xml" title="RSS for feedUpdate" href="/feedUpdate/rss" />

        <link rel="stylesheet" href="{% static 'style-js/style.css' %}">
        <link rel="stylesheet" href="{% static 'style-js/nav.css' %}">

        {% block meta %}{%  endblock %}

        <!-- favicon block -->
            <link  rel="shortcut icon mask-icon apple-touch-icon" type="image/x-icon" href="{% static 'img/favicon/favicon.ico' %}"/>
            <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
            <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
            <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
            <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
            <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#ff69b4">
            <meta name="{% static 'img/favicon/apple-mobile-web-app-title' %}" content="Homepage">
            <meta name="application-name" content="Homepage">
            <meta name="msapplication-TileColor" content="#00aba9">
            <meta name="theme-color" content="#ffffff">
        <!-- favicon block ended -->
    </head>
    <body>
        <header>
            {% include "Homepage/nav.html" %}
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>