<nav>
    <a href="{% url "Dashboard:Dashboard" %}">Главная</a>
    <a href="{% url "feedUpdate:index" mode="" %}">Обновления</a>
    <a href="{% url "weatherCast:index" %}">Погода</a>
    <a href="{% url "feedUpdate:myActivity" mode="" %}">Активность</a>
    <a href="{% url "calenda:list" %}">Календарь</a>

    {# redirects #}
    <a href="https://trakt.tv/users/olehkrupko/progress/watched/activity">Trakt</a>
    <a href="https://github.com/OlehKrupko/Homepage">Github</a>
    <a href="https://t.me/olehkrupko">Telegram</a>
    <a href="http://192.168.1.201/admin/">Pi-hole</a>
    <a href="http://krupko.space:8081">Роутер</a>
    <a href="https://trello.com/b/JFmjSRY4/homepage">Trello</a>
    <a href="https://www.hackerrank.com/dashboard">HackerRank</a>
    <a href="https://www.kaggle.com/competitions">Kaggle</a>
    <a href="https://www.instagram.com/direct/inbox/">InstaDM</a>
</nav>