<nav>
    <a href="{% url "Dashboard:Dashboard" %}">Dashboard</a>

    <a href="{% url "feedUpdate:index" mode="" %}">Обновления</a>
    <a href="{% url "feedUpdate:index" mode="force" %}">☠️️</a>
    <a href="{% url "feedUpdate:feeds" %}">📂</a>
    <a href="{% url "feedUpdate:myActivity" %}">Моя активность</a>

    {# redirects #}
    <a href="{% url "Trakt" %}">Trakt</a>
    <a href="{% url "GitHub" %}">Github</a>
    <a href="{% url "Telegram" %}">Telegram</a>
    <a href="{% url "Pi-hole" %}">Pi-hole</a>
</nav>