body {
    background-color: black;
}
#content-header {
    color: white;
    font-size: 30px;
}
nav.navbar {
    background-color: white;
}
div#chapters {
    padding-top: 20px;
}
div#chapters div {
    #height: 35px;
    font-size: larger;
}
div#chapters a:link {
    color:white;
}
div#chapters a:visited {
    color:grey;
}
#pointer {
    color: red;
}