#PlanetaKino {
    max-width: 100%;
    white-space: nowrap; /* [1] */
    overflow-x: auto; /* [2] */
    -webkit-overflow-scrolling: touch; /* [3] */
    -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
}
#PlanetaKino .poster {
    color: white;
    text-decoration: none;
    height: 295px;
    width: 220px;
    padding: 0;
    margin-bottom: 25px;
    display: inline;
}
#PlanetaKino .poster div {
    text-align: center;
    padding: 10px 10px;
}
#PlanetaKino img {
    height: 200px;
}
#PlanetaKino a {
    text-decoration: none;
}