{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Oleh Krupko {% block title %} {% endblock %}</title>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>{% include "Homepage/style.css" %}</style>
        <meta http-equiv="refresh" content="600" >
        <!-- https://stackoverflow.com/questions/4644027/how-to-automatically-reload-a-page-after-a-given-period-of-inactivity -->
    </head>
    <body>
        <div id="menu">{% include "Homepage/menu-top.html" %}</div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>