/* main section */
ul.red {
    padding: 0;
}

/* li */
ul.red li {
    list-style-type: none;
    text-decoration: none;
    font-size: 22px;
    word-break: normal;
    overflow-wrap: break-word;
    line-height: 1;
}
ul.red li:before {
    content: "»";
    color: red;
    font-weight: bold;
    padding-right: 5px;
}
/* TODO: better feedUpdate-feeds styling */
ul.red.feedUpdate-feeds li.index-true:before {
    content: "💎";
}
ul.red.feedUpdate-feeds li.index-false:before {
    content: "🗃️";
}

/* a */
ul.red a {
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
}
ul.red a.track-click:link:hover {
    color: greenyellow;
}
ul.red a.grey,
ul.red a.track-click:visited {
    color: #333;
}
ul.red .grey {
    cursor: default;
}
ul.red.hide a:any-link {
    color: black;
}