[Unit]
Description=Homepage.cacheUpdate.service

After=network.target
Wants=network-online.target
After=network-online.target
After=homepage.server.service

[Service]

OOMScoreAdjust=-100
Restart=always

WorkingDirectory=/home/pi/Projects/Homepage

ExecStart=/home/pi/Projects/Homepage/scripts/homepage.cacheUpdate

[Install]
WantedBy=multi-user.target