[Unit]
Description=homepage.server.reload.timer: run homepage.server.reload each 42 hours
Requires=homepage.server.reload.service

[Timer]
OnUnitActiveSec=42h

[Install]
WantedBy=timers.target