[Unit]
Description=run homepage.cacheUpdate each 45 minutes

After=network.target
Wants=network-online.target
After=network-online.target
After=homepage.server.launch.service
Requires=homepage.cacheUpdate.service

[Timer]
OnUnitActiveSec=45min

[Install]
WantedBy=timers.target