[Unit]
Description=homepage.cacheUpdate.all.timer: run homepage.cacheUpdate.all each 84 minutes
Requires=homepage.cacheUpdate.index.service

[Timer]
OnUnitActiveSec=420min

[Install]
WantedBy=timers.target