[Unit]
Description=Homepage.cacheUpdate.all.service

After=network.target
Wants=network-online.target
After=network-online.target
After=homepage.server.launch.service

Conflicts=homepage.cacheUpdate.index.service

[Service]
Type=oneshot

OOMScoreAdjust=-100

WorkingDirectory=/home/pi/Projects/Homepage

ExecStart=/home/pi/Projects/Homepage/scripts/homepage.cacheUpdate.all

[Install]
WantedBy=multi-user.target