[Unit]
Description=Homepage.server.launch.service

After=network.target
Wants=network-online.target
After=network-online.target

[Service]

OOMScoreAdjust=-100
Restart=always

WorkingDirectory=/home/pi/Projects/Homepage

ExecStart=/home/pi/Projects/Homepage/scripts/homepage.server.launch

[Install]
WantedBy=multi-user.target