[Unit]
Description=Homepage.cacheUpdate.server.reload.service

After=network.target
Wants=network-online.target
After=network-online.target
After=homepage.server.launch.service

[Service]
Type=oneshot

OOMScoreAdjust=-100

WorkingDirectory=/home/pi/Projects/Homepage

ExecStart=/usr/bin/systemctl try-restart homepage.server.launch

[Install]
WantedBy=multi-user.target
