[Unit]
Description=homepage.server.reload.timer: run homepage.server.reload each 42 hours

After=network.target
Wants=network-online.target
After=network-online.target
After=homepage.server.launch.service
After=homepage.cacheUpdate.timer

[Timer]
OnUnitActiveSec=12h

[Install]
WantedBy=timers.target