[Unit]
Description=Homepage.cacheUpdate.index.service

After=network.target
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot

TimeoutStartSec=10min

OOMScoreAdjust=-100

WorkingDirectory=/home/pi/Projects/Homepage

ExecStart=/home/pi/Projects/Homepage/scripts/homepage.cacheUpdate.index

[Install]
WantedBy=multi-user.target
