#!/bin/bash

# updating repository with overwrite of local changes
git fetch --all
git reset --hard origin/master

# clear old services
sudo rm /lib/systemd/system/homepage.*
sudo rm /run/systemd/generator.late/homepage.*
sudo rm /etc/init.d/homepage.*

sudo chmod 777 /home/pi/Projects/Homepage/scripts/homepage.*

# feedUpdate/cacheUpdate scripts
sudo cp /home/pi/Projects/Homepage/scripts/homepage.cacheUpdate.all.service /lib/systemd/system/homepage.cacheUpdate.all.service
sudo cp /home/pi/Projects/Homepage/scripts/homepage.cacheUpdate.all.timer /lib/systemd/system/homepage.cacheUpdate.all.timer
sudo cp /home/pi/Projects/Homepage/scripts/homepage.cacheUpdate.index.service /lib/systemd/system/homepage.cacheUpdate.index.service
sudo cp /home/pi/Projects/Homepage/scripts/homepage.cacheUpdate.index.timer /lib/systemd/system/homepage.cacheUpdate.index.timer
sudo systemctl enable homepage.cacheUpdate.all.service
sudo systemctl enable homepage.cacheUpdate.all.timer
sudo systemctl enable homepage.cacheUpdate.index.service
sudo systemctl enable homepage.cacheUpdate.index.timer

# project installation + web server launcher
sudo cp /home/pi/Projects/Homepage/scripts/homepage.server.launch.service /lib/systemd/system/homepage.server.launch.service
sudo systemctl enable homepage.server.launch.service

# project update installer scripts
sudo cp /home/pi/Projects/Homepage/scripts/homepage.server.reload.service /lib/systemd/system/homepage.server.reload.service
sudo cp /home/pi/Projects/Homepage/scripts/homepage.server.reload.timer /lib/systemd/system/homepage.server.reload.timer
sudo systemctl enable homepage.server.reload.service
sudo systemctl enable homepage.server.reload.timer

# pre-launch preparations
sudo systemctl daemon-reload

# launch web server
python3 /home/pi/Projects/Homepage/manage.py runserver 192.168.1.201:8000
