[Unit]
Description=Homepage.cacheUpdate.index.service

After=network.target
Wants=network-online.target
After=network-online.target
After=homepage.server.launch.service

[Service]
Type=forking
# RuntimeMaxSec=10m

OOMScoreAdjust=-100

WorkingDirectory=/home/pi/Projects/Homepage

ExecStart=/home/pi/Projects/Homepage/scripts/homepage.cacheUpdate.index

[Install]
WantedBy=multi-user.target
