#!/usr/bin/env bash

sleep 30s

# updating repository with overwrite of local changes
git fetch --all
git reset --hard origin/master

# clear old services
rm -f /lib/systemd/system/homepage.*
rm -f /run/systemd/generator.late/homepage.*
rm -f /etc/init.d/homepage.*
# rm -f /lib/systemd/system/homepage.*

chmod 777 /home/pi/Projects/Homepage/scripts/homepage.*
chmod +x /home/pi/Projects/Homepage/scripts/homepage.*

# feedUpdate/cacheUpdate scripts
cp /home/pi/Projects/Homepage/scripts/homepage.cacheUpdate.service /lib/systemd/system/homepage.cacheUpdate.service
cp /home/pi/Projects/Homepage/scripts/homepage.cacheUpdate.timer /lib/systemd/system/homepage.cacheUpdate.timer
systemctl enable homepage.cacheUpdate.timer

# project installation + web server launcher
cp /home/pi/Projects/Homepage/scripts/homepage.server.launch.service /lib/systemd/system/homepage.server.launch.service
systemctl enable homepage.server.launch.service

# project update installer scripts
cp /home/pi/Projects/Homepage/scripts/homepage.server.reload.service /lib/systemd/system/homepage.server.reload.service
cp /home/pi/Projects/Homepage/scripts/homepage.server.reload.timer /lib/systemd/system/homepage.server.reload.timer
systemctl disable homepage.server.reload.service
systemctl enable homepage.server.reload.timer

# pre-launch preparations
systemctl daemon-reload

# caching before launch
python3 manage.py cacheFeedUpdate --parseFeeds;
python3 manage.py cacheCalendars --parseCalendars;
python3 manage.py cachePages --parsePages;
python3 manage.py cacheUserAgents --logLength;

# launch web server # local launch # python3 manage.py runserver 192.168.1.200:8000
python3 /home/pi/Projects/Homepage/manage.py runserver 192.168.1.201:8000
