[Unit]
Description=Homepage.cacheUpdate.server.reload.service

After=network.target
Wants=network-online.target
After=network-online.target

[Service]

OOMScoreAdjust=-100
Restart=always

WorkingDirectory=/home/pi/Projects/Homepage

ExecStart=/home/pi/Projects/Homepage/scripts/homepage.server.reload

[Install]
WantedBy=multi-user.target
