{% extends 'base.html' %}

{% block title %} / university_TItaP{% endblock %}

{% block content %}
    <style>
        a {text-decoration: none; color: white;}
        a:link {text-decoration: none; color: white;}
        a:visited {text-decoration: none; color: white;}

    </style>

    <table bordercolor="white" style="color: white; td: ">
        <tr>{% for item in list.header %}<td style="border: 1px solid white;">{{ item }}</td>{% endfor %}</tr>
            {% for item in list.items %}
                <tr>
                {% for each in item %}
                    <td>
                        {% if each.IdMark.MName != None %}
                            <a href="/university_TItaP/vector/update/{{ each.pk }}">
                                {{ each.IdMark.MName }}
                            </a>
                        {% else %}
                            {{ each }}
                        {% endif %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
    </table>
{% endblock %}