{% extends 'Homepage/base.html' %}

{% block title %} » Dashboard {% endblock %}

{% block main %}
    <h1>
        {{ fromView.title_daypart }}, сейчас
        <span style="color: lightskyblue"><a href="{% url "weatherCast:index" %}">{{ fromView.title_weather.summary }},
            <sup>{{ fromView.title_weather.temp }}°</sup>
        </a></span>
    </h1>

    <h2>Сейчас в прокате</h2>
    <div id="PlanetaKino">
    {% for movie in fromView.movies %}
        {% if movie.inTheater %}
            <div class="poster">
                <a href="{{ movie.href }}" target="_blank">
                    <img class="lazy" src="https://placeholder.pics/svg/135x200"
                         data-src="{{ movie.posterIMG }}" alt="{{ movie.title }}">
                </a>
            </div>
        {% endif %}
    {% empty %}
        <h3>Oops, something went wrong. Empty!</h3>
    {% endfor %}
    </div>


    <ul id="feedUpdate">

    <h1>Обновления
    <span class="emojis lowercase"><nobr>
        <a href="{% url "feedUpdate:tests" %}">⚙️</a>
        <a href="{% url "feedUpdate:feeds" %}">📂</a>
    </nobr></span>
    </h1>

    {% for chapter in fromView.feedUpdate_list %}
        <li><span>
            <a class="name" target="_blank" href="{{ chapter.href }}">
                <span><strong>{{ chapter.title }}</strong></span>:
                {{ chapter.name }}
            </a>
        </span></li>
    {% empty %}
        <li>Oops, something went wrong. Empty!</li>
    {% endfor %}
    </ul>
{% endblock %}
