{% extends 'Homepage/base.html' %}

{% load static %}

{% block title %} » Dashboard {% endblock %}

{% block meta %}
    <meta http-equiv="refresh" content="600" >
    <link rel="stylesheet" href="{% static 'style-js/Dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'style-js/ul-red.css' %}">
    <script>{% include "Homepage/js/img-lazy-load.js" %}</script>
{% endblock %}

{% block main %}
    <h1>
        {{ fromView.title_daypart }}, сейчас
        <span style="color: lightskyblue"><a href="{% url "weatherCast:index" %}">
            {{ fromView.title_weather.summary }}<sup>
            {%       if fromView.title_weather.icon == 'clear-day' %}☀️
                {% elif fromView.title_weather.icon == 'clear-night' %}🌙
                {% elif fromView.title_weather.icon == 'rain' %}🌧️
                {% elif fromView.title_weather.icon == 'snow' %}❄️
                {% elif fromView.title_weather.icon == 'sleet' %}🌧❄️
                {% elif fromView.title_weather.icon == 'wind' %}💨
                {% elif fromView.title_weather.icon == 'fog' %}🌫
                {% elif fromView.title_weather.icon == 'cloudy' %}🌟
                {% elif fromView.title_weather.icon == 'partly-cloudy-day' %}🌤️
                {% elif fromView.title_weather.icon == 'partly-cloudy-night' %}🌙☁️
                {% else %}{{ fromView.title_weather.icon }}
                {% endif %}{{ fromView.title_weather.temp }}° 🌧️{{ fromView.title_weather.precipProbability }}%
            </sup>
        </a></span>
    </h1>

    <h2><a href="https://planetakino.ua/kharkov/movies/">Фильмы в прокате</a></h2>
    <div id="PlanetaKino">
    {% for movie in fromView.movies %}
        {% if movie.inTheater %}
            <div class="poster">
                <a href="{{ movie.href }}" target="_blank">
                    <img class="lazy" src="https://placeholder.pics/svg/135x200"
                         data-src="{{ movie.posterIMG }}" alt="{{ movie.title }}">
                </a>
            </div>
        {% endif %}
    {% empty %}
        <h3>Oops, something went wrong. Empty!</h3>
    {% endfor %}
    </div>


    <ul class="red feedUpdate-feeds">

    <h1>Обновления
    <span class="lowercase"><nobr>
        <a href="{% url "feedUpdate:tests" %}">⚙️</a>
        <a href="{% url "feedUpdate:feeds" %}">📂</a>
    </nobr></span>
    </h1>

    {% for chapter in fromView.feedUpdate_list %}
        <li><span>
            <a class="name" target="_blank" href="{{ chapter.href }}">
                <span><strong>{{ chapter.title }}</strong></span>:
                {{ chapter.name }}
            </a>
        </span></li>
    {% empty %}
        <li>Oops, something went wrong. Empty!</li>
    {% endfor %}
    </ul>
{% endblock %}
