{% extends 'Homepage/base.html' %}

{% load static %}

{% block title %} » Dashboard {% endblock %}

{% block meta %}
    <meta http-equiv="refresh" content="600" >
    <link rel="stylesheet" href="{% static 'style-js/Dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'style-js/ul-red.css' %}">
    <script>{% include "Homepage/js/img-lazy-load.js" %}</script>
{% endblock %}

{% block main %}
    <h1>
        {{ fromView.title.daypart }}, сейчас
        <span style="color: lightskyblue"><a href="{% url "weatherCast:index" %}">
            {{ fromView.title.weather.sum }}<sup>{{ fromView.title.weather.sup }}</sup>
        </a></span>
    </h1>

    <h2><a href="https://planetakino.ua/kharkov/movies/">Фильмы в прокате</a></h2>
    <div id="PlanetaKino">
    {% for movie in fromView.movies %}
        {% if movie.inTheater %}
            <div class="poster">
                <a href="{{ movie.href }}" target="_blank">
                    <img class="lazy" src="https://placeholder.pics/svg/135x200"
                         data-src="{{ movie.posterIMG }}" alt="{{ movie.title }}">
                </a>
            </div>
        {% endif %}
    {% empty %}
        <h3>Oops, something went wrong. Empty!</h3>
    {% endfor %}
    </div>


    <ul class="red feedUpdate-feeds">

    <h1>Обновления
    <span class="lowercase"><nobr>
        <a href="{% url "feedUpdate:tests" %}">⚙️</a>
        <a href="{% url "feedUpdate:feeds" %}">📂</a>
    </nobr></span>
    </h1>

    {% for chapter in fromView.feedUpdate.list %}
        <li><span>
            <a class="name track-click" target="_blank" href="{{ chapter.href }}">
                <span><strong>{{ chapter.title }}</strong></span>:
                {{ chapter.name }}
            </a>
        </span></li>
    {% empty %}
        <li>Oops, something went wrong. Empty!</li>
    {% endfor %}
    </ul>
{% endblock %}
