{% extends 'index.html' %}

{% block title %} / bookUpdates{% endblock %}

{% block content %}
    <div id="chapters">
        <h1>{{ list.title }}</h1>

        {% for chapter in list.chapters %}
            <div id="chapters">
                <b class="pointer">» </b>
                <a href="{{ chapter.href }}">
                    {% if list.multibook %} [{{ chapter.title }}] — {% endif %}
                    {{ chapter.name }}</a>
                <a class="datetime">posted on {{chapter.datetime}}</a>
            </div>
        {% empty %}
            <h1>No chapters yet</h1>
        {% endfor %}
    </div>
{% endblock %}